<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Directorship Retrieval System</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>
<body>
<div class="navbar">
    <a href="search_name.html">Board Member</a>
    <a href="search_go.html">Government Organisation</a>
    <a href="search_legal.html">Legal Institution</a>
    <a href="search_misc.html">Misc</a>
    <a href="search_poly.html">Polytechnic</a>
    <a href="search_sti.html">STI</a>
    <a href="search_tele.html">Telecommunication</a>
    <a href="search_uni.html">University</a>
    <a href="#" class="rightside">About</a>
</div>
<div class="header">
  <h1>Directorship Retrieval System</h1>
  <p>Welcome</p>
</div>
</body>
</html>
